<div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center">


    <div class="container max-form" [formGroup]="signUpForm">
        <div class="row">
            <div class="col-12">
                <h3>Sign Up - Crea una cuenta</h3>
            </div>
            <div class="col-12">
                <mat-form-field class="w-100">
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="email" appValidationForm />
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="w-100">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="password" appValidationForm />
                </mat-form-field>
            </div>
            <div *ngIf="loading" class="d-flex justify-content-center col-12 pt-4">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div *ngIf="!loading" class="d-flex justify-content-center col-12 pt-4">
                <button mat-raised-button color="primary" class="button__primary" [disabled]="!signUpForm.valid" (click)="createUser()">
          Crear Usuario
        </button>
            </div>
            <div class="d-flex justify-content-center col-12 pt-4">
                <mat-error>
                    {{msgLogin}}
                </mat-error>
            </div>
            <div class="col-12">
                <span>Already have an account?
          <span class="pointer" routerLink="/login">Log In</span></span>
            </div>
        </div>
    </div>



</div>