<div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center">


    <div class="container max-form" [formGroup]="forgotPasswordForm">
        <div class="row">
            <div class="col-12">
                <h3>Forgot Password</h3>

                <p class="text-center">
                    Please enter your email address to request a password reset.
                </p>
            </div>
            <div class="col-12">
                <mat-form-field class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" appValidationForm />
                </mat-form-field>
            </div>
            <div *ngIf="loading" class="d-flex justify-content-center col-12 pt-4">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div *ngIf="!loading" class="d-flex justify-content-center col-12 pt-4">
                <button mat-raised-button color="primary" class="button__primary" [disabled]="!forgotPasswordForm.valid" (click)="forgotPassword()">
          Recuperar contraseña
        </button>
            </div>
            <div class="d-flex col-12 pt-4">
                <a routerLink="/login" class="link-primary">login back</a>
            </div>
            <div class="d-flex justify-content-center col-12 pt-4">
                <mat-error>
                    {{msgLogin}}
                </mat-error>
            </div>
        </div>
    </div>



</div>