@import "./assets/scss/index.scss";
body {
    background-color: rgba($color: #000000, $alpha: 0.2);
}

.max-form {
    max-width: 400px;
}

.pointer {
    cursor: pointer;
}

.road-text {
    font-family: "RoadRage";
}